{%extends 'all-photos/base.html'%}


{% block content%}
<div class="container">
    <div class="container-fluid" style="text-align: center">
        <h1 style="text-shadow: 3px 3px maroon">Welcome to Insta Pictures App</h1>
        {% for image in images%}
        <div class="card">
            <div class="row" style="text-align: center">
                <div class="column" style="margin-bottom: 80px">
                    <img src="{{image.Image.url}}" alt="">
                </div>
            </div>
            <div class="row">
                <h1 class="text-center">{{image.name}}</h1>
            </div>
            
            <div class="row">
                <p>{{image.post}}</p>
            </div>
        </div>
        {% for comment in image.comments.all %}
        <p>{{comment.name}}</p>
        <p>{{comment.user}}</p>
        {% endfor %}

        <div class="row">
            <p>Posted {{image.pub_date|timesince}} by {{image.profile_user_name.first_name}}</p>
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}